# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual Environment
venv/
.env/

# IDE/Editor
.vscode/
.idea/
*.swp

# System Files
.DS_Store
Thumbs.db

# Data Files (if not needed in Git)
#data/
.history/